<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sz.generator.mapper.GeneratorTableMapper">

    <resultMap id="BaseResultMap" type="com.sz.generator.pojo.po.GeneratorTable">
        <id column="table_id" property="tableId"/>
        <result column="table_name" property="tableName"/>
        <result column="table_comment" property="tableComment"/>
        <result column="class_name" property="className"/>
        <result column="tpl_category" property="tplCategory"/>
        <result column="package_name" property="packageName"/>
        <result column="module_name" property="moduleName"/>
        <result column="business_name" property="businessName"/>
        <result column="function_name" property="functionName"/>
        <result column="function_author" property="functionAuthor"/>
        <result column="type" property="type"/>
        <result column="path" property="path"/>
        <result column="path_api" property="pathApi"/>
        <result column="path_web" property="pathWeb"/>
        <result column="create_id" property="createId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_id" property="updateId"/>
        <result column="update_time" property="updateTime"/>
        <result column="options" property="options"/>
        <result column="has_import" property="hasImport"/>
        <result column="has_export" property="hasExport"/>
        <result column="is_autofill" property="isAutofill"/>
        <result column="btn_data_scope_type" property="btnDataScopeType"/>
    </resultMap>

    <sql id="Base_Column_List">
        table_id, table_name, table_comment, class_name, tpl_category, package_name, module_name, business_name,
        function_name, function_author, type, path, path_api, path_web, create_id, create_time, update_id,
        update_time, options, has_import, has_export, is_autofill, btn_data_scope_type
    </sql>

    <sql id="Sys_Menu_Column">
        id, pid, path, name, title, icon, component, redirect, sort, deep, menu_type_cd, permissions, is_hidden,
        has_children, is_link, is_full, is_affix, is_keep_alive, del_flag
    </sql>

    <delete id="cleanTableRecordByTableName">
        DELETE
        FROM generator_table
        WHERE table_name IN
        <foreach collection="tableNames" item="name" open="(" separator="," close=")">
            #{name}
        </foreach>
    </delete>

    <delete id="cleanTableColumnByTableName">
        DELETE
        FROM generator_table_column
        WHERE EXISTS (
            SELECT 1
            FROM generator_table
            WHERE generator_table_column.table_id = generator_table.table_id
              AND generator_table.table_name IN
            <foreach collection="tableNames" item="name" open="(" separator="," close=")">
                #{name}
            </foreach>
        )
    </delete>

    <select id="selectDbTableByImport" resultType="com.sz.generator.pojo.po.GeneratorTable">
        SELECT
        <include refid="Base_Column_List"/>
        FROM generator_table
        <where>
            <if test="queryDTO.tableName != null and queryDTO.tableName != ''">
                AND LOWER(table_name) LIKE LOWER(CONCAT('%', #{queryDTO.tableName}, '%'))
            </if>
            <if test="queryDTO.tableComment != null and queryDTO.tableComment != ''">
                AND LOWER(table_comment) LIKE LOWER(CONCAT('%', #{queryDTO.tableComment}, '%'))
            </if>
        </where>
    </select>

    <select id="selectSysMenuByPid" resultType="com.sz.generator.pojo.result.SysMenuResult">
        SELECT
        <include refid="Sys_Menu_Column"/>
        FROM sys_menu
        WHERE id = #{pid}
    </select>

    <select id="selectMenuCount" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM sys_menu
        WHERE pid = #{pid}
    </select>

    <select id="countMenu" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM sys_menu
        WHERE name = #{name}
          AND path = #{path}
          AND component = #{component}
          AND pid = #{pid}
          AND menu_type_cd != '1002003'
          AND del_flag = 'F'
    </select>

    <select id="countMenuBtn" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM sys_menu
        WHERE permissions = #{permissions}
          AND menu_type_cd = '1002003'
          AND del_flag = 'F'
    </select>

    <insert id="insertMenu">
        INSERT INTO sys_menu (
            id, pid, path, name, title, icon, component, sort, deep, menu_type_cd, permissions, has_children, use_data_scope
        )
        VALUES (
            #{createDTO.id}, #{createDTO.pid}, #{createDTO.path}, #{createDTO.name}, #{createDTO.title},
            #{createDTO.icon}, #{createDTO.component}, #{createDTO.sort}, #{createDTO.deep}, #{createDTO.menuTypeCd},
            #{createDTO.permissions}, #{createDTO.hasChildren}, #{createDTO.useDataScope}
        )
    </insert>

    <select id="selectEnabledMenuIds" resultType="java.lang.Long">
        SELECT id
        FROM sys_menu
        WHERE del_flag = 'F'
    </select>

    <select id="selectEnabledMenuParentIds" resultType="java.lang.Long">
        SELECT DISTINCT pid
        FROM sys_menu
        WHERE del_flag = 'F'
          AND pid IS NOT NULL
          AND pid != 0
    </select>

    <update id="updateMenuHasChildren">
        UPDATE sys_menu
        SET has_children = #{hasChildren}
        WHERE id = #{id}
    </update>

</mapper>
