<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sz.www.sysregion.mapper.SysRegionMapper">
    <!-- 通用映射 -->
    <resultMap id="BaseResultMap" type="com.sz.www.sysregion.pojo.po.SysRegion">
        <id column="id" property="id"/>
        <result column="region_name" property="regionName"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="del_flag" property="delFlag"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, region_name, create_time, update_time, del_flag
    </sql>

</mapper>
